@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* Colors */
  --main-background-color: #E0F2FF;
  --panel-background-color: #F7FBFF;
  --primary-font-color: #313341;

  /* Font Sizes */
  --larger-font: 4.3rem;
  --heading-font: 2.3rem;
  --sub-heading-font: 2rem;
  --small-font: 1.5rem;
  --smaller-font: 1.2rem;
  --normal-font: 1rem;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  font-weight: normal;
}

html {
  font-size: 12px;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--primary-font-color);
  background-color: var(--main-background-color);

  padding: 20px;
  height: 100dvh;
  max-height: 100dvh;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

section {
  display: flex;
  width: 100%;
}

/* Top Buttons */

.top-btns {
  justify-content: space-between;

  position: relative;
  gap: 50px;
}

button {
  background: none;
}

.top-btns button {
  background: #F7FBFF;
  border: none;
  border-radius: 50px;
  padding: 10px;

  max-width: fit-content;
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 10px;
  
  transition: all 0.3s ease;
}


.top-btns button:hover {
  cursor: pointer;
}

.top-btns .search-btn {
  z-index: 6;
}

/* Search Button */
.search-container {
  position: absolute;
  top: 45%;
  left: 0px;
  z-index: 10;

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar {
  display: flex;
  gap: 10px;

  background-color: white;
  padding: 15px 20px;
  width: 80%;
  border-radius: 10px;
  box-shadow: 0 0 100px black;
}

.search-bar input[type="search"] {
  height: 50px;
  width: 100%;
  font-size: 1.5rem;
  
  padding: 10px;
  border: none;
  border-radius: 10px;
}

.hidden {
  display: none !important;
}

/* Blur Container */

.blur-container {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  height: 100dvh;
  width: 100%;

  background: rgba(255, 255, 255, 0.30);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

/* Location-Time Info */

.location-time {
  flex-direction: column;
  gap: 10px;
}

.location-time h2 {
  font-size: var(--heading-font);
  font-weight: 600;
}

.location-time h5 {
  font-size: var(--smaller-font);
}

/* Weather Info */

.weather-info {
  flex-direction: column;
  align-items: center;
}

.weather-info img {
  width: 180px;
  margin: -30px;
  filter: drop-shadow(0 0 5px rgba(40, 40, 40, 0.3));
}

.weather-conditions {
  display: flex;
  align-items: flex-start;
}

.weather-conditions h4{
  font-size: var(--small-font);
}

.weather-temp {
  display: flex;
  flex-direction: column;
}

.weather-temp h1 {
  font-size: var(--larger-font);
  font-weight: bold;
  text-align: center;
}

.weather-temp h3 {
  font-size: var(--sub-heading-font);
}

/* Additional Info */

.additional-info {
  flex-direction: column;
  gap: 20px;
}

.rainfall-info,
.wind-info,
.humidity-info {
  background: var(--panel-background-color);
  padding: 10px;
  padding-right: 20px;
  border-radius: 10px;

  box-shadow: 0 0 5px rgba(40, 40, 40, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#rainfall-icon {
  filter: drop-shadow(0 0 10px #3CCF91);
}

#wind-icon {
  filter: drop-shadow(0 0 10px #FF6B6B);
}

#humidity-icon {
  filter: drop-shadow(0 0 10px #4C8BF5);
}

.info-data {
  display: flex;
  align-items: center;
  gap: 15px;
}

.info-data img {
  padding: 8px;
  border-radius: 10px;
}

/* Next Days Content */
.days-section {
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
  max-height: 100dvh;
  z-index: 15;
  background-color: var(--main-background-color);
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.back-arrow button {
  background: #F7FBFF;
  border: none;
  border-radius: 50px;
  padding: 10px;

  max-width: fit-content;
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 10px;
  
  transition: all 0.3s ease;
}

.back-arrow button:hover {
  cursor: pointer;
}

.next-day {
  background-color: var(--panel-background-color) ;
  padding:  10px 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
}

.next-day-weather {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.next-day-conditions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.next-day-conditions img {
  width: 70px;
  margin: -15px;
}

.next-days-extras {
  display: flex;
  justify-content: space-between;
  
  margin-top: 20px;
  padding: 0 15px;
}

.extra-info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/* Remaining Days Cards */
.next-days-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.card-days {
  background-color: var(--panel-background-color);
  padding: 3px 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
}

.card-days,
.card-days .condition {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-days .condition {
  gap: 10px;
}

.card-days .condition img {
  margin-bottom: -5px;
}